@model LabComputo.Data.tblObjetosOlvidados

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblObjetosOlvidado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblLaboratorio.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblLaboratorio.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ObjetosOlvidadosID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
