@model LabComputo.Data.tblUsuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblUsuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contraseña)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUsuario2.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUsuario2.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUsuario3.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUsuario3.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUsuario4.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUsuario4.Correo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UsuarioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
