@model LabComputo.Data.tblLaboratorio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblLaboratorio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edificio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edificio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponible)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LaboratorioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
