@model IEnumerable<LabComputo.Data.tblComputadora>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroComputadora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funciona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblLaboratorio.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroComputadora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funciona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblLaboratorio.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComputadoraID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComputadoraID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComputadoraID })
        </td>
    </tr>
}

</table>
